<div class="container-wide">
	<h3>Wide Container</h3>
	Almost full browser width with a little padding on the sides.
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. In in erat euismod, ornare justo sit amet, molestie nunc. Morbi eget fermentum tortor, maximus scelerisque mauris. Quisque aliquet quam vel tellus mattis, quis tristique quam ultricies. Curabitur fringilla aliquet dui sit amet molestie. Fusce sed varius tortor. Nam lobortis leo mollis ex tincidunt, ac venenatis lorem tempor. Morbi odio metus, malesuada ac urna faucibus, dignissim laoreet nisi. Suspendisse et tortor sit amet metus porttitor lobortis in in mi. Praesent tincidunt accumsan dui, consequat porta sem. Aliquam quis urna vel orci dictum ultrices at at dolor.
</div>

<div class="container">
	<h3>Default Container</h3>
	Uses the bootstrap container styles.
	Sed ultricies pharetra augue, in aliquam magna sollicitudin non. Proin fringilla arcu ac ligula molestie, non laoreet justo volutpat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Proin ante erat, rhoncus vehicula vulputate nec, feugiat at odio. Donec sit amet justo ullamcorper, blandit risus sed, semper risus. Aenean id vestibulum massa. Donec vel mi mi. Donec quis suscipit lorem, sit amet facilisis sem. Fusce eu tempor odio. Ut et gravida urna, vitae porttitor ligula. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
</div>
