<div class="container-constrained">
	{% include '@molecules/search-form/search-form.twig' with search %}
	{% include '@organisms/blog-teasers-list/blog-teasers-list.twig' with blog_teasers_list %}
	{% include '@molecules/pager/pager.twig' with pager %}
</div>
