.services-list {
	h2 {
		margin-bottom: 64px;
		@include screen-lg() {
			max-width: 625px;
		}
	}
	.service-card {
		width: auto;
		padding: 20px 0 0 16px;
		border-left: 1px solid $border-white;
		margin-top: 40px;
		display: none;
		h3 {
			text-transform: uppercase;
		}
		&:nth-of-type(1),
		&:nth-of-type(2) {
			display: block;
		}
		&:nth-of-type(2) {
			margin-left: 80px;
		}
		@include screen-sm() {
			width: 50%;
			&:nth-of-type(even) {
				margin-top: 93px;
			}
		}
		@include screen-md() {
			width: 33%;
			padding-right: 60px;
			&:nth-of-type(2) {
				margin-left: 0;
			}
			&:nth-of-type(3) {
				display: block;
			}
		}
		@include screen-lg() {
			width: 25%;
			padding-right: 60px;
			&:nth-of-type(4) {
				display: block;
			}
		}
		@include screen-xl() {
			width: 20%;
			padding-right: 60px;
			&:nth-of-type(5) {
				display: block;
			}
		}
		img {
			width: 127px;
		}
		a {
			font-weight: bold;
			display: block;
			padding: 20px 0 0 0;
		}
		&.animate-0 {
			animation: fadein .3s linear, ease-up .5s linear;
			animation-fill-mode: forwards;
		}
		&.animate-1 {
			animation: fadein .4s linear, ease-up .9s linear;
			animation-fill-mode: forwards;
		}
		&.animate-2 {
			animation: fadein .5s linear, ease-up .5s linear;
			animation-fill-mode: forwards;
		}
		&.animate-3 {
			animation: fadein .6s linear, ease-up .9s linear;
			animation-fill-mode: forwards;
		}
		&.animate-4 {
			animation: fadein .7s linear, ease-up .5s linear;
			animation-fill-mode: forwards;
		}
	}
	.more-services {
		margin-top: 60px;
		a {
			padding: 10px 50px 10px 0;
			color: #fff;
			text-transform: uppercase;
			background-image: url('../images/right-arrow.png');
			background-size: contain;
			background-position: right center;
			background-repeat: no-repeat;
		}
	}
}

@keyframes fadein {
	96%, 100% {
		opacity: 1;
	}
}

@keyframes ease-up {
	0% {
		transform: translate(0, 20px);
	}
	80% {
		transform: translate(0, 0);
	}
}
