.services-list {
	h2 {
		margin-bottom: 64px;
		@include screen-lg() {
			max-width: 625px;
		}
	}
	.service-card {
		width: 20%;
		padding: 20px 60px 0px 16px;
		border-left: 1px solid $border-white;
		&:nth-of-type(even) {
			margin-top: 93px;
		}
		img {
			width: 60%;
		}
		a {
			font-weight: bold;
			display: block;
			padding: 20px 0 0 0;
		}
		&.animate-0 {
			animation: fadein .3s linear, ease-up .5s linear;
			animation-fill-mode: forwards;
		}
		&.animate-1 {
			animation: fadein .4s linear, ease-up .9s linear;
			animation-fill-mode: forwards;
		}
		&.animate-2 {
			animation: fadein .5s linear, ease-up .5s linear;
			animation-fill-mode: forwards;
		}
		&.animate-3 {
			animation: fadein .6s linear, ease-up .9s linear;
			animation-fill-mode: forwards;
		}
		&.animate-4 {
			animation: fadein .7s linear, ease-up .5s linear;
			animation-fill-mode: forwards;
		}
	}
}

@keyframes fadein {
	96%, 100% {
		opacity: 1;
	}
}

@keyframes ease-up {
	0% {
		transform: translate(0, 20px);
	}
	80% {
		transform: translate(0, 0);
	}
}
