{# Everything within the body tags goes here. #}

{% block header %}
	{% include "@organisms/header/header.twig" with (navbar) %}
{% endblock %}

{% block main %}
	<div id="main">
		{% block title %}
			<h1 class="page-title">{{ title }}</h1>
		{% endblock %}
		{{ content }}
	</div>
{% endblock %}

{% block footer %}
	{% include "@organisms/footer/footer.twig" with (footer) %}
{% endblock %}
