<table>
	<thead>
	<tr>
		<th>Link Key</th>
		<th>Route Name</th>
		<th>Route URI</th>
	</tr>
	</thead>
	<tbody>
	<tr>
		<td><code>canonical</code></td>
		<td><code>entity.simple.canonical</code></td>
		<td><code>/simple/{simple}</code></td>
	</tr>
	<tr>
		<td><code>add-page</code></td>
		<td><code>entity.simple.add_page</code></td>
		<td><code>/simple/add</code></td>
	</tr>
	<tr>
		<td><code>add-form</code></td>
		<td><code>entity.simple.add_form</code></td>
		<td><code>/simple/add/{simple_type}</code></td>
	</tr>
	<tr>
		<td><code>edit-form</code></td>
		<td><code>entity.simple.edit_form</code></td>
		<td><code>/simple/{simple}/edit</code></td>
	</tr>
	<tr>
		<td><code>delete-form</code></td>
		<td><code>entity.simple.delete_form</code></td>
		<td><code>/simple/{simple}/delete</code></td>
	</tr>
	<tr>
		<td><code>collection</code></td>
		<td><code>entity.simple.collection</code></td>
		<td><code>/admin/content/simples</code></td>
	</tr>
	</tbody>
</table>
