<div class="page-title d-flex">
	<div class="left-bg bg" style="background-image: url('{{ bg_left_src }}')"></div>
	<div class="right-bg bg" style="background-image: url('{{ bg_right_src }}')"></div>
	<div class="text-center container title-content">
		{% if subheading %}<div class="pre-heading">{{ subheading }}</div>{% endif %}
		<h1>{{ heading }}</h1>
	</div>
</div>
