<div class="page-title d-flex">
	<div class="left-bg bg" style="background-image: url('{{ bg_left }}')"></div>
	<div class="right-bg bg" style="background-image: url('{{ bg_right }}')"></div>
	<div class="text-center container title-content">
		<div class="pre-heading">{{ subheading }}</div>
		<h1>{{ heading }}</h1>
	</div>
</div>
