/**
 * Rough approximation of PrismJS - "Tomorrow Night" theme.
 * https://prismjs.com/
 */
pre {
	padding: 1em;
	margin: .5em 0;
	overflow: auto;
	background-color: rgb(34, 37, 38);
	font-family: Consolas, Monaco, 'Andale Mono', monospace;
	font-size: inherit;
	color: rgb(200, 195, 188);
}

code {
	display: inline-block;
	padding: 0 4px;
	background-color: rgb(34, 37, 38);
	color: rgb(200, 195, 188);
	font-weight: 500;
}

.page-content {
	code {
		background-color: $grey-light;
		color: $text-grey;
	}
}
