{% if items %}
	<div class="bg-green">
		<ul>
			{% for item in items %}
				<li>{{ item }}</li>
			{% endfor %}
		</ul>
	</div>
	<ul>
		{% for item in items %}
			<li>{{ item }}</li>
		{% endfor %}
	</ul>
{% endif %}

