<div class="testimonials-list bg-navy row-spacer-top">
	<div class="container">
		<h2 class="row-half-spacer-bottom text-white">{{ heading }}</h2>
		<div class="row">
			{% if items %}
				{% for item in items %}
					<div class="testimonial col-lg-4">
						<div class="wrapper">
							<div class="content">{{ item.content }}</div>
							<div class="author-name">{{ item.author_name }}</div>
							<div class="author-info">{{ item.author_info }}</div>
						</div>
					</div>
				{% endfor %}
			{% endif %}
		</div>
	</div>
</div>
