.comment-respond {
	form {
		max-width: 1200px;
		color: $text-white;
		margin: 0 auto;
		padding: 20px;
		@include screen-md() {
			padding: 56px 56px 40px;
		}
		textarea, input:not([type=submit]) {
			color: $text-white;
			border: 2px solid white;
			display: block;
			width: 100%;
			padding: 10px 20px;
			margin-bottom: 20px;
			background-color: rgba(255,255,255,.1);
		}
		input[type=submit] {
			@extend .btn;
			@extend .btn-primary;
		}
		label {
			display: block;
			text-transform: uppercase;
			font-weight: bold;
			margin-bottom: 2px;
		}
		.form-help-text {
			color: $text-navy;
			font-size: 16px;
			text-align: right;
			margin-top: -10px;
		}
	}
	.success-message,
	.error-message {
		display: none;
	}

	.comment-reply-title {
		small {
			font-size: small;
			display: block;
		}
	}
}
