{% if image_src %}
	{% set wrapper_class = 'has-image' %}
{% endif %}
<div class="page-wrapper row-spacer {{ wrapper_class }}">
	{% if image_src %}
		<div role="img" aria-label="{{ image_alt }}" class="container image-container" style="background-image: url({{ image_src }})">
		</div>
	{% endif %}
	<div class="page-content container">
		{{ content }}
	</div>
</div>
