<div class="search-form-wrapper {{ wrapper_classes }}">
	<form class="search-form d-flex justify-content-between align-items-center white-bg text-left">
		<label for="keyword" class="sr-only">Enter Search Term</label>
		<input placeholder="Search Blogs" id="keyword" name="keyword" type="text" />
		<input type="submit" >
	</form>
</div>
