.contact-form {
	form {
		max-width: 1200px;
		margin: 0 auto;
		background: $green-neon;
		padding: 20px;
		@include screen-md() {
			padding: 56px 56px 40px;
		}
		textarea, input {
			display: block;
			width: 100%;
			padding: 10px 20px;
			margin-bottom: 20px;
		}
		label {
			display: block;
			color: $text-navy;
			text-transform: uppercase;
			font-weight: bold;
			margin-bottom: 2px;
		}
		.form-help-text {
			color: $text-navy;
			font-size: 16px;
			text-align: right;
			margin-top: -10px;
		}
	}
	.success-message,
	.error-message {
		display: none;
	}
}

