<div class="testimonial col-lg-4">
	<div class="wrapper">
		<div class="content">{{ content }}</div>
		<div class="author-name">{{ author_name }}</div>
		<div class="author-info">{{ author_info }}</div>
	</div>
</div>
