<div class="cta-block-animated bg-white">
	<div class="container">
		<img src="{{ image }}" alt="" />
		<div class="row animated">
			<div class="col-sm-6">
				<div class="animate-left">
					<h2>{{ content }}</h2>
				</div>
			</div>
			<div class="col-sm-6 text-right">
				<div class="animate-right">
					<a class="btn btn-primary" href="{{ url }}">{{ text }}</a>
				</div>
			</div>
		</div>
	</div>
</div>
