<div class="iconography">
	<div class="samples">
		<div class="d-flex"><span class="mr-5 icon-drupal"></span><pre>.icon-drupal</pre></div>
		<div class="d-flex"><span class="mr-5 icon-drupal-line"></span><pre>.icon-drupal-line</pre></div>
		<div class="d-flex"><span class="mr-5 icon-github"></span><pre>.icon-github</pre></div>
		<div class="d-flex"><span class="mr-5 icon-wordpress"></span><pre>.icon-wordpress</pre></div>
		<div class="d-flex"><span class="mr-5 icon-twitter"></span><pre>.icon-twitter</pre></div>
		<div class="d-flex"><span class="mr-5 icon-facebook"></span><pre>.icon-facebook</pre></div>
		<div class="d-flex"><span class="mr-5 icon-linkedin"></span><pre>.icon-linkedin</pre></div>
		<div class="d-flex"><span class="mr-5 icon-youtube"></span><pre>.icon-youtube</pre></div>
		<div class="d-flex"><span class="mr-5 icon-search"></span><pre>.icon-search</pre></div>
		<div class="d-flex"><span class="mr-5 icon-web"></span><pre>.icon-web</pre></div>
		<div class="d-flex"><span class="mr-5 icon-offsite"></span><pre>.icon-offsite</pre></div>
		<div class="d-flex"><span class="mr-5 icon-arrow-left-circle"></span><pre>.icon-arrow-left-circle</pre></div>
		<div class="d-flex"><span class="mr-5 icon-arrow-right-circle"></span><pre>.icon-arrow-right-circle</pre></div>
	</div>
</div>
