.cta-block-parallax {
	.pre-heading {
		padding-top: 20px;
	}
	.parallax-bg {
		background-size: 0;
		@include screen-lg() {
			background-position: 90% 50%;
			background-size: 50%;
			background-repeat: no-repeat;
			background-attachment: fixed;
			min-height: 86vh;
		}
	}
	.text-wrapper {
		padding-top: $spacer*20;
		padding-bottom: $spacer*20;
		width: 100%;
		@include screen-lg() {
			width: 40%;
		}
		.btn {
			margin-top: 20px;
		}
	}
}
