.animate-0 {
	animation: fadein .3s linear, ease-up .5s linear;
	animation-fill-mode: forwards;
}
.animate-1 {
	animation: fadein .4s linear, ease-up .9s linear;
	animation-fill-mode: forwards;
}
.animate-2 {
	animation: fadein .5s linear, ease-up .5s linear;
	animation-fill-mode: forwards;
}
.animate-3 {
	animation: fadein .6s linear, ease-up .9s linear;
	animation-fill-mode: forwards;
}
.animate-4 {
	animation: fadein .7s linear, ease-up .5s linear;
	animation-fill-mode: forwards;
}
.animate-5 {
	animation: fadein .3s linear, ease-up .5s linear;
	animation-fill-mode: forwards;
}
.animate-6 {
	animation: fadein .4s linear, ease-up .5s linear;
	animation-fill-mode: forwards;
}
.animate-7 {
	animation: fadein .5s linear, ease-up .5s linear;
	animation-fill-mode: forwards;
}
.animate-8 {
	animation: fadein .6s linear, ease-up .5s linear;
	animation-fill-mode: forwards;
}
.animate-9 {
	animation: fadein .7s linear, ease-up .5s linear;
	animation-fill-mode: forwards;
}

@keyframes fadein {
	96%, 100% {
		opacity: 1;
	}
}

@keyframes ease-up {
	0% {
		transform: translate(0, 20px);
	}
	80% {
		transform: translate(0, 0);
	}
}
