.blog-teasers-list {
	h2 {
		color: $heading-white;
	}
	.posts-wrapper {
		padding: 20px;
	}
	.card-wrapper {
		position: relative;
		&.animate-0 {
			animation: fadein .3s linear, ease-up .5s linear;
			animation-fill-mode: forwards;
		}
		&.animate-1 {
			animation: fadein .4s linear, ease-up .9s linear;
			animation-fill-mode: forwards;
		}
		&.animate-2 {
			animation: fadein .5s linear, ease-up .5s linear;
			animation-fill-mode: forwards;
		}
		&.animate-3 {
			animation: fadein .6s linear, ease-up .9s linear;
			animation-fill-mode: forwards;
		}
		&.animate-4 {
			animation: fadein .7s linear, ease-up .5s linear;
			animation-fill-mode: forwards;
		}
		@include screen-lg() {
			&:after {
				content: '';
				display: block;
				position: absolute;
				top: 0;
				bottom: 0;
				right: 0px;
				width: 1px;
				background: rgba(240, 106, 156, 0.22);
			}
			&:last-of-type:after {
				display: none;
			}
		}
	}
	.blog-teaser-card {
		padding: 42px;
		height: 100%;
		background: $bg-white;
		font-size: 16px;
		@include screen-lg() {
			transition: all .2s ease-in-out;
			&:hover {
				transform: translateY(-50px);
			}
		}
		h3 {
			font-size: 32px;
			text-transform: none;
			padding-bottom: 10px;
			margin: 0;
			a {
				color: $text-pink;
			}
		}
		.topic {
			color: $text-green-dark;
			text-transform: uppercase;
			font-size: 11px;
			font-weight: bold;
			margin-bottom: 16px;
		}
		.teaser-image {
			margin-bottom: 20px;
			img {
				width: 100%;
				height: 200px;
				object-fit: cover;
			}
		}
		.default-image {
			margin-bottom: 10px;
			img.default {
				width: 45px;
			}
		}
		a.clickable-content {
			color: $text-navy;
		}
	}
}
