.contact-form form {
	max-width: 1200px;
	margin: 0 auto;
	background: $green-neon;
	padding: 56px 56px 40px;
	input {
		display: block;
		width: 100%;
	}
	label {
		display: block;
		color: $text-navy;
		text-transform: uppercase;
		font-weight: bold;
	}
	.form-help-text {
		color: $text-navy;
		font-size: 16px;
		text-align: right;
	}
}
