<div class="contact-form">
	<form id="email-form" name="email-form" data-name="Email Form">
		<label for="name">Name*</label>
		<input type="text" class="text-field" name="name" placeholder="Full Name" id="name" required=""><label for="email">Email Address*</label><input type="email" class="input--field w-input" maxlength="256" name="email" data-name="Email" placeholder="Email Address" id="email" required="">
		<label for="Message">Message</label>
		<input type="text" class="text-field" name="Message" placeholder="How can we help you?" id="Message" required="">
		<div class="form-help-text">*Indicates a required form field</div>
		<button type="submit" data-wait="Please wait..." class="btn btn-primary dark-text">Submit Form</button>
	</form>
	<div class="container success-message">
		<img src="https://uploads-ssl.webflow.com/5efb8fb9b95caa19d3b870f7/5f3617cc1756d75dc1dd2649_doggie-test%402x.png" alt="" class="image-2">
		<h3 class="h2">Thank you for reaching out!</h3>
		<p>A Daggerhart Lab team member is probably getting into something a little bit crazy right now, but we promise we'll get back to you as soon as we can in regards to your inquiry.</p>
	</div>
	<div class="container error-message">
		<img src="https://uploads-ssl.webflow.com/5efb8fb9b95caa19d3b870f7/5f2cb99a432a64b116a38454_bolt-sitewidth.png" sizes="100vw" srcset="https://uploads-ssl.webflow.com/5efb8fb9b95caa19d3b870f7/5f2cb99a432a64b116a38454_bolt-sitewidth-p-500.png 500w, https://uploads-ssl.webflow.com/5efb8fb9b95caa19d3b870f7/5f2cb99a432a64b116a38454_bolt-sitewidth-p-800.png 800w, https://uploads-ssl.webflow.com/5efb8fb9b95caa19d3b870f7/5f2cb99a432a64b116a38454_bolt-sitewidth-p-1080.png 1080w, https://uploads-ssl.webflow.com/5efb8fb9b95caa19d3b870f7/5f2cb99a432a64b116a38454_bolt-sitewidth-p-1600.png 1600w, https://uploads-ssl.webflow.com/5efb8fb9b95caa19d3b870f7/5f2cb99a432a64b116a38454_bolt-sitewidth.png 1626w" alt="" class="error--alert">
		<h3 class="h2">Uh-oh!&nbsp;Looks like you missed something we require to assist you.</h3>
		<p>Please check to make sure all of the fields are properly filled out, so we have all of the ingredients we need to better assist you with your project.</p>
	</div>
</div>

